html,
body {
  height: 100%;
  overflow: hidden;
  background: var(--color-bg);
}

.stub {
  position: relative;
  height: calc(100vh - 40px);
  aspect-ratio: 1440 / 810;
  margin: 20px auto;
}

.stub__headline {
  position: absolute;
  left: 33.415%;
  top: 2.458%;
  width: 8.254%;
  height: 11.435%;
}

.stub__link {
  position: absolute;
}

.stub__link img {
  display: block;
  width: auto;
  height: 100%;
}

.stub__link--telegram {
  left: 30.433%;
  top: 93.014%;
  height: 1.69%;
}

.stub__link--vk {
  left: 33.403%;
  top: 96.239%;
  height: 1.674%;
}

.stub__photo {
  position: absolute;
  left: 21.111%;
  top: 21.111%;
  width: 24.642%;
  height: 27.409%;
  cursor: none;
}

.stub__photo-img {
  display: block;
  width: 100%;
  height: 100%;
}

.stub__signature {
  position: absolute;
  left: 62.014%;
  top: 65.775%;
  width: 18.037%;
  height: 39.638%;
}

@media (max-width: 1024px) {
  .stub__signature {
    left: 49.781%;
    top: 72.269%;
    width: 17.971%;
    height: 39.844%;
  }
}

.cursor-gif {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10;
}

.cursor-gif.is-active {
  display: block;
}

@media (max-width: 1024px) {
  html,
  body {
    height: auto;
    overflow: auto;
  }

  .stub {
    height: auto;
    width: 100%;
    aspect-ratio: 768 / 1024;
    margin: 0 auto;
  }

  .stub__headline {
    left: 49.87%;
    top: 59.766%;
    width: 15.475%;
    height: 9.046%;
  }

  .stub__link--telegram {
    left: 30.729%;
    top: 79.007%;
    height: 5.371%;
  }

  .stub__link--vk {
    left: 49.87%;
    top: 86.82%;
    height: 5.273%;
  }

  .stub__photo {
    left: 15.359%;
    top: 10.547%;
    width: 69.797%;
    height: 32.751%;
  }
}

@media (max-width: 600px) {
  .stub {
    aspect-ratio: 375 / 812;
  }

  .stub__headline {
    left: 50.133%;
    top: 61.7%;
    width: 31.695%;
    height: 11.408%;
  }

  .stub__link--telegram {
    left: 21.067%;
    top: 81.773%;
    height: 4.981%;
  }

  .stub__link--vk {
    left: 50.133%;
    top: 88.793%;
    height: 4.934%;
  }

  .stub__photo {
    left: 4.335%;
    top: 17.858%;
    width: 91.999%;
    height: 26.582%;
  }
}
